.collapse {

    &__container {
        margin-bottom: 30px;
    }

    &__bloc {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $primary-color;
        border-radius: 5px;
        padding: 4px 30px 4px 20px;
    }

    &__title {
        color: $secondary-color;
        margin: 5px 0;
    }

    &__icon {
        color: $secondary-color;
        cursor: pointer;
        transition: transform 500ms ease-in-out;

        &.open {
            transform: rotate(-180deg);
        }
    }

    &__render-content {
        background-color: $background-lightgrey-color;
        max-height: 0;
        overflow: hidden;
        transition: max-height 500ms ease-in-out;

        &.open {
            max-height: 1000px;
        }

    }

    &__content {
        color: $primary-color;
        padding: 20px 15px 10px 15px;
        margin: 0;

    }

    &__list {
        text-decoration: none;
        list-style: none;
        padding: 0;
        margin: 0px 0px 5px 0px;

    }
}

@media (max-width: 768px) {

    .collapse {

        &__container {
            margin-bottom: 20px;
        }

        &__title {
            font-size: 14px;
        }

        &__bloc {
            padding: 0px 20px 0px 20px;
        }

        &__icon {
            font-size: 18px;
        }

    }

}