.nav-main {
    display: flex;

    &__links {
        margin-right: 50px;
    }
}

@media (max-width: 768px) {

    .nav-main {
        flex-direction: column;

        &__links {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }

}